.title {
  display: block;
  margin: 188px auto 36px;
  width: 702px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-size: 78px;
  line-height: 80px;
  text-align: center;
  letter-spacing: -0.05em;

  color: #313131;
}

.greenText {
  color: #49ad09;
}

.welcomeText {
  display: block;
  margin: 0 auto 63px;
  width: 492px;

  font-family: "Gilroy";
  font-size: 18px;
  line-height: 27px;

  text-align: center;

  color: #514040;
}

.btnContainer {
  display: flex;
  align-items: center;
  width: 406px;
  margin: 0 auto;
  padding-bottom: 227px;
}

.video {
  display: block;
  width: 181px;
  border-color: transparent;
  background-color: transparent;
  text-decoration: none;

  font-family: "Gilroy";
  font-size: 18px;
  line-height: 21px;
  text-align: center;

  color: #514040;
  transition: 0.3s;
  cursor: pointer;
}

.video:hover {
  color: #49ad09;
}

.underLine {
  text-decoration-line: underline;
}
