.logos {
  display: flex;
  justify-content: space-between;
  margin: 76px auto 216px;
}

.logo {
  height: 33px;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center center;
}

.chase {
  background-image: url(../../assets/icons/chase.svg);
  width: 137px;
}

.asana {
  background-image: url(../../assets/icons/asana.svg);
  width: 122px;
}

.google {
  background-image: url(../../assets/icons/google.svg);
  width: 98px;
}

.buzzfeed {
  background-image: url(../../assets/icons/buzzfeed.svg);
  width: 120px;
}

.walmart {
  background-image: url(../../assets/icons/walmart.svg);
  width: 133px;
}
