.container {
  background: url("../../assets/images/intro-back.jpg") center center;
  background-size: cover;
  background-color: #f2f2f2;
}

.header {
  display: flex;
  align-items: center;

  box-sizing: content-box;
  height: 58px;
  padding-top: 30px;

  font-size: 18px;
  line-height: 21px;
  color: #313131;
}

.nav {
  display: flex;
  justify-content: space-between;

  margin-right: 28px;

  list-style: none;

  flex: 44.8% 0 0;
}

.navItem {
  font-weight: 500;
}

.logo {
  font-family: "Gilroy";
  font-weight: 800;
  flex: 39.7% 0 0;
}

.title {
  display: block;
  margin: 188px auto 36px;
  width: 702px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-size: 78px;
  line-height: 80px;
  text-align: center;
  letter-spacing: -0.05em;

  color: #313131;
}

.greenText {
  color: #49ad09;
}

.welcomeText {
  display: block;
  margin: 0 auto 63px;
  width: 492px;

  font-family: "Gilroy";
  font-size: 18px;
  line-height: 27px;

  text-align: center;

  color: #514040;
}

.btnContainer {
  width: 406px;
  margin: 0 auto;
  padding-bottom: 227px;
}

.videoBtn {
  height: 58px;
  width: 181px;
  border-color: transparent;
  background-color: transparent;

  font-family: "Gilroy";
  font-size: 18px;
  line-height: 21px;

  color: #514040;
}

.underLine {
  text-decoration-line: underline;
}
