.footerTop {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 0 77px;
}

@media (max-width: 650px) {
  .footerTop {
    justify-content: space-around;
  }
}

.footerBottom {
  padding: 40px 0;
  border-top: 1px solid #ededed;
}

.links {
  width: 236px;
}

.footerText {
  margin: 0 0 64px;

  font-family: "Gilroy";
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;

  color: #313131;
}

.footerLogo {
  font-family: "Gilroy";
  font-weight: 700;

  margin: 0 0 35px;
  cursor: default;
}

.linkBtn {
  width: 28px;
  height: 28px;

  margin: 0 15px 0 0;

  background-color: #f2f2f2;
  background-position: center center;
  background-repeat: no-repeat;
  border: 1px solid #f2f2f2;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.linkBtn:hover {
  background-color: #e4e4e4;
  border: 1px solid #e4e4e4;
}

.facebook {
  background-image: url(../../assets/icons/facebook.svg);
}

.twitter {
  background-image: url(../../assets/icons/twitter.svg);
}

.linkedin {
  background-image: url(../../assets/icons/linkedin.svg);
}

.colomn {
  width: 114px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.li {
  display: block;
  margin: 0 0 28px;
  text-decoration: none;
}

.colomnTitle {
  margin: 0 0 39px;
  font-family: "Gilroy";
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;

  color: #1c1c1d;
}

.email {
  width: 100%;
  height: 100%;
  padding: 12px;

  background: #f2f2f2;
  border: 1px solid #f2f2f2;
  border-radius: 5px;
  outline: none;

  font-family: "Gilroy";
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;

  color: #514040;
}

.intupForm {
  position: relative;
  width: 174px;
  height: 40px;
}

.label {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 16px;
  height: 16px;

  background: url(../../assets/icons/submitBtn.svg);
  cursor: pointer;
}

.bottomText {
  margin: 0;
  text-align: center;
}
