.container {
  margin: 0 auto;
  text-align: center;
}

.subTitle {
  margin: 0;

  font-family: "Gilroy";
  font-size: 18px;
  line-height: 21px;

  color: #514040;
}

.title {
  margin: 30px 0 0 0;
  font-family: "Gilroy";
  font-weight: 500;
  font-size: 45px;
  line-height: 53px;

  color: #313131;
}
